## vim: set fileencoding=utf-8
<%inherit file="/skeleton.html" />

<%def name="head()">
    ${h.javascript_link(h.url_for('/js/qnas/index.js'))}
</%def>

% for s in c.sections:
    <h2>${s.title}</h2>
    <dl class="qnas">
    % for q in s.qnas:
        <dt><a href="#">${q.question}</a></dt>
        <dd>${q.answer}</dd>
    % endfor
    </dl>
% endfor

<div class='tiny'>Jeśli masz jakieś pytania, na które nie ma tutaj odpowiedzi, wyślij je panu młodemu na adres <a href="mailto:zefciu@gmail.com">zefciu@gmail.com</a></div>
