## vim: set fileencoding=utf-8
<%inherit file="/skeleton.html" />

<%def name="head()">
</%def>

${h.form(h.url_for(controller='guests', action='submit_confirmations'), method='post')}
<ul>
% for guest in c.guests:
    <li>
    ${h.checkbox(
        'guest',

        label = '%s %s' % (guest.name, guest.surname)\
        if (not guest.companion_id) else\
        '%s %s - os tow.' % (guest.bringing.name, guest.bringing.surname),

        value = guest.id,
        checked = guest.confirmed
    )}
    </li>
% endfor
</ul>
${h.submit(None, u'Potwierdź')}
${h.end_form()}
