## vim: set filetype=mako
## vim: set fileencoding=utf-8

<%inherit file="/base.html" />

<%def name="head()">
    <title>Ślub Kasi Granowskiej i Szymona Pyżalskiego</title>
    % if (config['debug']):
        ${h.javascript_link(h.url_for('/js/ext-core/ext-core-debug.js'))}
    % else:
        ${h.javascript_link(h.url_for('/js/ext-core/ext-core.js'))}
    % endif
    ${h.javascript_link(h.url_for('/js/main.js'))}
    ${h.stylesheet_link(h.url_for('/css/main.css'))}
    ${next.head()}
</%def>
<div id="header">
    ${h.link_to(u'Ślub Kasi i Szymona', h.url_for(controller = 'pages', action = 'view', slug = 'zawiadomienie'))}
</div>
<div id="wrap">
    <div id="menu">
        <ul>
            <li>
                ${h.link_to(u'Co gdzie i kiedy', h.url_for(controller = 'pages', action = 'view', slug = 'co-gdzie-kiedy'))}
            </li>
            <li>
                ${h.link_to(u'Potwierdź swoje zaproszenie', h.url_for(controller = 'invitations', action = 'confirmation_form'))}
            </li>
            <li>
                ${h.link_to(u'Lista prezentów', h.url_for(controller = 'gifts', action = 'list'))}
            </li>
            <li>
                ${h.link_to(u'Pytania i odpowiedzi', h.url_for(controller = 'qnas', action = 'index'))}
            </li>
        </ul>
    </div>
    <div id="content">
    ${next.body()}
    </div>
</div>
