body {
    font: 12pt sans-serif;
    background-color: #FFF4C6;
}

#menu {
    position: absolute;
    width: 200px;
    height: 100%;
}

#menu ul {
    list-style: none
}

#menu li {
    width: 100%;
    margin-top: 5px;
}

#menu a {
    display: block;
    width: 100%;
    background-color: #A68240;
    color: #FFFFFF;
    padding: 3px;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none
}

#menu a:hover {
    display: block;
    width: 100%;
    background-color: #3A2E73;
    color: #FFFFFF;
    padding: 3px;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none
}



#content {
    position: absolute;
    margin-left: 210px
}

h2 {
    color: #A68240;
}

.qnas dt {
    color: #A68240;
    font-weight: bold;
}

.qnas dd {
    display: none;
}
