body {
    font: 12pt Bookman Old Style, Tahoma, sans-serif;
    text-align: justify;
    line-height: 30px;
    background-color: #FFF4A6;
    background-image: url(../img/textures/tx0.jpeg);
}

#header a {
    width: 815px;
    height: 25px;
    padding: 25px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    background-color: #5C3317;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrap {
    position: relative;
}


#menu {
    margin-left: auto;
    margin-right: auto;
    width: 965px;
}

#menu ul {
    list-style: none;
    width: 100%;
}

#menu li {
    width: 200px;
    margin: 0 10px;
    float: left;
    /*margin-top: 5px;*/
}

.btn {
    margin-top: 50px;
    width: 200px;
}

#menu a,
.btn a {
    display: block;
    width: 100%;
    background-color: #5C3317;
    color: #FFFFFF;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}

#menu a:hover,
.btn a:hover {
    display: block;
    width: 100%;
    background-color: #3A2E73;
    color: #FFFFFF;
    padding: 3px;
    text-decoration: none
}



#content {
    margin-left: auto;
    margin-right: auto;
    width: 915px;
    margin-top: 100px;
    font-weight: bold;
}

#gift-list {
    list-style: none;
}

#gift-list a {
    text-decoration: none;
    color: #000000;
}

#gift-list a:hover {
    text-decoration: underline
}

h2 {
    color: #5C3317;
}

.qnas dt {
    color: #5C3317;
    font-weight: bold;
}

.qnas dd {
    display: none;
}

.tiny {
    font-size: 14px;
    font-weight: normal;
}
